

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

ul, ol {
  list-style: none;
}

a {
  color: #3b3c3e;
  text-decoration: none;
}

a:hover {
  color: #5da8ef;
}

.hero {
  max-width: 100%;
  height: 1000px;
  border: 1px solid red;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 25px;
  padding-left: 80px;
}

.header-logo {

}

.header-text {
  display: flex;
  flex-direction: row;
  padding-left: 106px;
}

.link {

}

.link-item {
  padding: 35px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
}

.text {
  padding-left: 100px;
  padding-top: 240px;
  line-height: 0.5px;
}

.text-1 {
  font-size: 12px;
  color: #72b2f1;
}

.text-2 {
  font-size: 50px;
}

.text-3 {
  color: gray;
  line-height: 20px;
}

.header-image {
  position: absolute;
  bottom: 30px;
  left: 376px;
  z-index: -1;
}

.right-column {
  position: relative;
  float: right;
  bottom: 430px;
  left: 30px;
}

.vertical-text {
  transform: rotate(-90deg);
  color: #dedede;
  letter-spacing: 2px;
}

.social {
  position: absolute;
  right: 175px;
  bottom: 15px;
}

.quote {
  border: 1px solid red;
  height: 310px;
}

.quote-text {
  text-align: center;
}

.name {
  text-align: center;
}

.line {
  border-left: 2px solid #5da8ef;
  height: 100px;
  position: relative;
  left: 710px;
  top: 35px;
  width: 20px;
}

.media-content {
  border: 1px solid red;
  margin-left: 120px;
  width: 38.4%;
}

.media-content-text {
  color: lightgray;
  text-align: left;
  margin-left: 140px;
}

.under-text {
  margin-left: 140px;
  text-align: left;
  font-size: 12px;
  margin-top: 50px;
  letter-spacing: 3px;
}

.under-text-line {
  border-bottom: 2px solid #5da8ef;
  width: 97px;
  margin-left: 140px;
}

.media-content-video {
  border: 1px solid red;
  position: relative;
  float: right;
  width: 56.7;
  height: 564px;
  margin-top: -550px;
  z-index: 1;
}

.play-image {
  position: absolute;
  top: 45%;
  left: 45%;
}

.button-play {
  position: absolute;
  top: 50%;
  left: 48.5%;
}

.shop {
  border: 1px solid red;
  text-align: center;
  margin-top: 160px;
}

.shop-text {
  color: #5da8ef;
  letter-spacing: 2px;
}

.shop-surfboards {
  line-height: 1px;
}

.catalog-slider {
  display: flex;
  margin-top: 20px;
  width: 1440px;
  height: 490px;
  border: 1px solid red;
  justify-content: center;
}

.item-1 {
  border: 1px solid red;
  width: 30%;
}

.item-2 {
  border: 1px solid red;
  width: 30%;
}

.item-3 {
  border: 1px solid red;
  width: 30%;
}

.base-1 {
  position: relative;
  top: 80px;
  z-index: -1;
  left: 30px;
}

.board-1 {
  position: relative;
  top: 55px;
  right: 160px;
}

.board-1-title {
  position: relative;
  bottom: 180px;
  left: 240px;
}

.board-1-name {
  position: relative;
  bottom: 195px;
  left: 240px;
}

.board-1-price {
  position: relative;
  bottom: 195px;
  left: 300px;
  color: #ce60a8;
}

.board-1-buy {
  position: relative;
  bottom: 210px;
  left: 302px;
}

.base-2 {
  position: relative;
  top: 72px;
  z-index: -1;
  left: 30px;
}

.board-2 {
  position: relative;
  top: 48px;
  right: 160px;
}

.board-2-title {
  position: relative;
  bottom: 187px;
  left: 240px;
}

.board-2-name {
  position: relative;
  bottom: 202px;
  left: 240px;
}

.board-2-price {
  position: relative;
  bottom: 202px;
  left: 300px;
  color: #ce60a8;
}

.board-2-buy {
  position: relative;
  bottom: 217px;
  left: 302px;
}

.base-3 {
  position: relative;
  top: 65px;
  z-index: -1;
  left: 30px;
}

.board-3 {
  position: relative;
  top: 40px;
  right: 160px;
}

.board-3-title {
  position: relative;
  bottom: 195px;
  left: 240px;
}

.board-3-name {
  position: relative;
  bottom: 210px;
  left: 240px;
}

.board-3-price {
  position: relative;
  bottom: 210px;
  left: 300px;
  color: #ce60a8;
}

.board-3-buy {
  position: relative;
  bottom: 225px;
  left: 302px;
}

.control-slider-left {
  position: relative;
}

.left-control {
  position: relative;
  top: 50%;
  right: 50px;
}

.control-slider-right {
  position: relative;
}

.right-control {
  position: relative;
  top: 50%;
  left: 50px;
}

.slider-show {
  width: 1440px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 180px;
  border: 1px solid red;
}

.show-all {
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
}

.show-all-line {
  border-bottom: 2px solid #5da8ef;
  width: 85px;
  position: relative;
  left: 676px;
}

.article-1 {
  border: 1px solid red;
  width: 1440px;
  height: 450px;
}

.article-1-main {
  width: 35%;
  border: 1px solid red;
  height: 400px;
}

.article-1-number {
  font-size: 120px;
  color: #f9f9f9;
  margin-top: 0;
  margin-left: 80px;
}

.article-1-title {
  margin-left: 80px;
  position: relative;
  bottom: 140px;
}

.article-1-title-line {
  border-bottom: 2px solid #5da8ef;
  width: 22px;
  position: relative;
  left: 50px;
  margin-left: 30px;
  bottom: 150px;
}

.article-1-text {
  position: relative;
  margin-left: 80px;
  bottom: 130px;
  line-height: 25px;
  color: #c6c6c6;
}

.article-1-under-text {
  position: relative;
  margin-left: 80px;
  font-size: 12px;
  letter-spacing: 3px;
  bottom: 40px;
}

.article-1-under-text-line {
  border-bottom: 2px solid #5da8ef;
  width: 97px;
  margin-left: 80px;
  margin-bottom: 25px;
  position: relative;
  bottom: 45px;
}

.article-1-image {
  position: relative;
  float: right;
  border: 1px solid red;
  right: 160px;
  height: 439px;
  bottom: 398px;
}

.article-1-title-2 {
  position: relative;
  float: right;
  bottom: 384px;
  left: 670px;
}

.article-1-right-title {
  transform: rotate(-90deg);
  color: #dedede;
  letter-spacing: 2px;
}

.article-2 {
  position: relative;
  border: 1px solid red;
  width: 1050px;
  height: 439px;
  margin: 0 auto;
  top: 80px;
}

.article-2-img {
  position: absolute;
  width: 488px;
  height: 439px;
  left: 80px;
}

.article-2-main {
  border: 1px solid red;
  position: absolute;
  left: 568px;
  width: 480px;
  height: 439px;
}

.article-2-number {
  font-size: 120px;
  color: #f9f9f9;
  margin-top: 0;
  margin-left: 80px;
}

.article-2-title {
  margin-left: 80px;
  position: relative;
  bottom: 140px;
}

.article-2-title-line {
  border-bottom: 2px solid #5da8ef;
  width: 22px;
  position: relative;
  left: 50px;
  margin-left: 30px;
  bottom: 150px;
}

.article-2-text {
  position: relative;
  margin-left: 80px;
  bottom: 130px;
  line-height: 25px;
  color: #c6c6c6;
}

.article-2-under-text {
  position: relative;
  margin-left: 80px;
  font-size: 12px;
  letter-spacing: 3px;
  bottom: 70px;
}

.article-2-under-text-line {
  border-bottom: 2px solid #5da8ef;
  width: 97px;
  margin-left: 80px;
  margin-bottom: 25px;
  position: relative;
  bottom: 75px;
}

.block-line {
  border-left: 2px solid #5da8ef;
  height: 100px;
  position: relative;
  left: 710px;
  top: 160px;
  width: 20px;
}

.subscribe {
  border: 1px solid red;
  width: 1440px;
  margin: 0 auto;
  position: relative;
  top: 230px;
  height: 250px;
}

.subscribe-head {
  text-align: center;
}

.subscribe-title {
  font-size: 40px;
}

.subscribe-text {
  line-height: 30px;
  color: #c6c6c6;
}

form {
  position: relative;
  width: 580px;
  margin: 0 auto;
  top: 20px;
}

input {
  width: 100%;
  height: 45px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
  background: #f5f5f5;
  letter-spacing: 3px;
  font-size: 11px;
  font-weight: bold;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border: none;
  background: #5da8ef;
  border-radius: 0 5px 5px 0;
  background-image: url("../../assets/images/input-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
button:before {
  font-size: 16px;
  color: #F9F0DA;
}

.address-block {
  border: 1px solid red;
  width: 1440px;
  height: 475px;
  position: relative;
  margin-top: 180px;
}

.address-content {
  position: relative;
  float: right;
  width: 500px;
  height: 300px;
  border: 1px solid red;
  top: 100px;
  right: 170px;
}

.camp {
  font-size: 12px;
  color: #c6c6c6;
  letter-spacing: 3px;
}

.address {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 40px;
  color: #333333;
}

.address-text {
  position: relative;
  letter-spacing: 3px;
  font-size: 11px;
  color: #5da8ef;
  top: 50px;
}

.address-line {
  border-bottom: 2px solid #5da8ef;
  width: 112px;
  position: relative;
  top: 43px;
}

.footer {
  width: 1440px;
  height: 280px;
  border: 1px solid red;
  margin-top: 100px;
}

.footer-logo {
  text-align: center;
}

.footer-title {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}

.footer-social {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  width: 160px;
  margin: 0 auto;
  flex-direction: row-reverse;
  align-items: center;
}