html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.hero {

}

.header {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 25px;
  padding-left: 70px;
}

.header-logo {
  background-image: url("../../assets/images/logo.jpg");
  background-repeat: no-repeat;
}

.header-text {
  display: flex;
  flex-direction: row;
  padding-left: 250px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  padding-top: 150px;
  line-height: 0.5px;
  box-sizing: border-box;
}

.text-1 {
  font-size: 12px;
  color: #72b2f1;
}

.text-2 {
  font-size: 50px;
}

.text-3 {
  color: gray;
  line-height: 20px;
}

.header-image {
  position: absolute;
  float: right;
  bottom: 100px;
  right: 237px;
  z-index: -1;
}
